services:
   app:
      container_name: graphandco-2026
      build:
         context: .
         dockerfile: Dockerfile.dev
      ports:
         - "3006:3006"
      volumes:
         - .:/app
         - /app/node_modules
      environment:
         NODE_ENV: development
