version: "3.9"

services:
   app:
      container_name: graphandco-2026
      build:
         context: .
         dockerfile: Dockerfile
      ports:
         - "3006:3006"
      environment:
         NODE_ENV: production
         PORT: 3006
         HOSTNAME: 0.0.0.0
