services:
   app:
      container_name: graphandco-2026
      build:
         context: .
         dockerfile: Dockerfile
      restart: unless-stopped
      # ports:
      #    - "3006:3006"
      networks:
         - web-network

networks:
   web-network:
      external: true
